
body{
    display: flex;
    flex-flow: row wrap;
    
    
    
}
img{
    height: 50%;
    width: 70%;
    margin:0 auto;
    text-align: center;
    border-radius: 5px;
    justify-content: center;
    
}

.hell{
    margin: 5px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
#headerspace{
    display: none;
}
#mobile{
    display: none;
}
header{
    margin: 5px auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #00bcd4;
    text-align: right;
    padding: 5px 5px 5px 5px;
    max-width: 300px;
    border-radius: 15px;
    width: 96%
}
h1{
    font-size: 2em;
    text-align: center;
}
h2{
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 5px;
}


header p{
    font-style: italic;
    
}
#mobile36 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 300px;
    border-radius: 15px;
    background-color: #00bcd4;
    padding: 5px;
    margin:5px auto;
    color: #fff;
    width: 96%;
}
a:visited, a:link{
    
   
    display: block;
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin-top: 3px;
}
a:hover{
    display: block;
    text-align: center;
    color: #00bcd4; ;
    background-color:#fff; 
    font-weight: bold;
    margin-top: 3px;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

hr{
    border-color: #fff;
}

section{
    margin: 5px auto;
}

article{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 300px;
    border-radius: 15px;
    background-color: #fff ;
    padding: 5px;
    margin:5px auto;
    color: #00bcd4;
    text-align: justify;
    width: 96%;
}
#mycv button{
    display: block;
    margin: 0 auto;
}


#hello{
    background-color: #00bcd4;
    color: #fff;
}
#education{
    background-color: #00bcd4;
    color: #fff;
    
}
#contacts{
    background-color: #00bcd4;
    color: #fff;
}

ul{
    padding: 5px;
}
#education ul li{
    display: block;
    padding: 5px;
    border-radius: 15px;
    background-color: #66BDE6 ;
    margin: 5px auto;
}

#skills ul li{
    display: block;
    padding: 5px;
    border-radius: 15px;
    background-color: #66BDE6 ;
    margin: 5px auto;
    color:#fff;
}



footer{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 300px;
    border-radius: 15px;
    background-color: #66BDE6;
    padding: 5px;
    margin:5px auto;
    color: #183128;
    width: 96%;
}
#container{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    background: #fff;
    width: 80%;
    padding: 20px;
}

#container h2{
    background: #00bcd4;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
    
}

#container input[type="text"],

#container input[type="email"],

#container textarea{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}

#container input[type="text"]:focus,

#container input[type="email"]:focus,

#container textarea:focus{
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}
