header{
    width: 100%;
    background-color: blue;
    color: white;
}
nav{
    background-color: green;
}
#hello{
   
}
#mycv{
    
}
#education{
    
}
#skills{
    
}
#contacts{
    
}
footer{
    background-color: orange;
}
